.standard-button {
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .6em;
    border-radius: 1em;
}

input[type=button]:hover{
    text-decoration:underline;
}



